@import "tailwindcss";

/* Обнуление стилей */
html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Обнуление стилей */

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #000000, #13081a, #030305);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #8b5cf6, #ec4899);
  border-radius: 10px;
  border: 3px solid #0f0c29;
  box-shadow: 0 0 10px #8b5cf666;
  transition: all 0.3s ease-out; /* ⬅️ исчезающее свечение */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #a78bfa, #f472b6);
  box-shadow: 0 0 20px #f472b688, 0 0 30px #f472b655;
}
